* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: rgba(28, 40, 210, 0.717);
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  form {
    display: inline-flex;
    width: 400px;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
    #soqqa {
      height: 50px;
      border: none;
      border-radius: 30px;
      padding: 0.4rem 1rem;
      font-size: 20px;
      word-spacing: -5px;
    }
    #currency {
      all: unset;
      background-color: #fff;
      height: 40px;
      font-size: 20px;
      border: none;
      padding: 0.4rem 1rem;
      border-radius: 5px;
      option {
        height: 40px;
      }
    }
    #tocurrency {
      all: unset;
      background-color: #fff;
      height: 40px;
      font-size: 20px;
      border: none;
      padding: 0.4rem 1rem;
      border-radius: 5px;
      option {
        height: 40px;
      }
    }
    #convert {
      all: unset;
      background-color: aquamarine;
      height: 50px;
      font-size: 20px;
      width: 50%;
      margin: 0 auto;
      text-align: center;
      font-family: sans-serif;
      border: none;
      border-radius: 10px;
    }
  }
  #result {
    height: 50px;
    width: 300px;
    padding: 0.9rem 1rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
}
